nav{
    text-align: right;
    margin-left: 4%;
    width: 100%;
}
.nav_text{
    color: white; !important;
    text-align: right;
    font-size: 85%;
    margin-left:40%;
    padding-left: 10%;
}

.first_container{
    background-image: url("images/hero_background.png");
}
.second_container{
    background-image: url("images/background_shape1.png") ;
    background-position: top right;/*arriba a la derecha*/
    background-repeat: no-repeat;/*que no se repita el fondo*/
}
.second_container_second_images{
    background-image: url("images/background_shape2.png") ;
    background-position: top left;/*arriba a la derecha*/
    background-repeat: no-repeat;/*que no se repita el fondo*/
}
.third_container{
    margin: 0 auto;
    max-width: 80%;

}

.fourth_container{
    background-image: url("images/msys_caja.png");

}

.fifht_conatiner{
    background-image: url("images/background_shape2.png") ;
    background-position: top left;/*arriba a la derecha*/
    background-repeat: no-repeat;/*que no se repita el fondo*/

}



.descripcion_imagenes_third_container{
    color: #0000ac;
    font-size: 100%;
}
.cuadrado_naranja{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    background: #f48621;
    color: white;

}
.contactanos{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 27px -8px rgba(0,0,0,0.75);
    background: #5399ff;
    color: white;

}
.contactanos_back{
    background-image: url("images/msy_graphic.png");
    background-position: top left;/*arriba a la derecha*/
    background-repeat: no-repeat;/*que no se repita el fondo*/
}
h1{
    text-align: center;
    color: white;

}
.texto_title{
    text-align: center;

    color: #ebebeb;
}

.boton_ver_mas{
    text-align: center;
    align-content: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    background: #f48621;
    height: 3em;
    width: 35%;
    color: white;
}

.boton_comprar{
    text-align: center;
    align-content: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    background: #f48621;
    height: 3em;
    width: 15%;
    color: white;
}
.titulo_cuadro_naranja{
    color:white;
    text-align: left;
    font-size: 200%;
    font-weight: bold;
}

.titulo_prefooter{
    color: darkblue;
    text-align: center;
    font-size: 110%;
}
.titulo_contactanos{
    color: white;
    font-size: 200%;
}
.texto_contactanos{
    color: #e7e7e7;
    font-size: 100%;
}
.texto_contactanos2{
    color: #e7e7e7;
    font-size: 80%;
}
.titulo_banners{
    color: grey;
    text-align: center;
    font-size: 60%;
}
.texto_prefooter{
    color: darkblue;
    text-align: center;
    font-size: 110%;
}
.texto_cuadro_naranja{
    color:wheat;
    text-align: left;
    font-size: 100%;
}

.boton_personalizado {

    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    text-align:center;
}

hr{
    size: 10px;
}
.titulo_beneficios{
    text-align: center;
    color: darkblue;
    font-weight: bold;
    font-size: 150%;
}

.submit{
    text-align: center;
    align-content: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    background: #f48621;
    height: 2em;
    width: 50%;
    color: white;
}
.email{
    width: 80%;
}
#link{
    color: #ebebeb;
}
html{
    scroll-behavior: smooth;
}